{% extends "base.html.twig" %}

{% block title %} categories des pokémones {% endblock %}

{% block main %}
    <main>
        <article class="blocArticle">

            {% for categorie in categories %}
                    <section>
                        <h2 class="titre_jaune" >POKÉMON :</h2>
                        <p> {{ categorie }}</p>
                    </section>
            {% endfor %}

        </article>
    </main>
{% endblock %}