{% extends "base.html.twig" %}

{% block title %} table de poker{% endblock %}

{% block main %}
    <main>
        <article>
            <section>
                <p>Merci de partir sur le site de Damien</p>
            </section>
        </article>
    </main>
{% endblock %}