{% extends "base.html.twig" %}

{% block title %} acceuil {% endblock %}

{% block main %}
    <main>
        <article>
            <section>
                <h2 class="titre_jaune" >POKÉMON :</h2>

                </form>
            </section>
        </article>
    </main>
{% endblock %}
