{% extends "base.html.twig" %}

{% block title %} table de poker{% endblock %}

{% block main %}
    <main>
        <article>
            <section>
               <p>Veuillez vous mettre sur une table</p>
            </section>
        </article>
    </main>
{% endblock %}