{% extends "base.html.twig" %}
{% block title %} Choix du pokémons {% endblock %}
{% block main %}
    <main>
        <article class="blocArticle">
                    <section>
                        <h2 class="titre_jaune" >POKÉMON CHOISIS:</h2>
                        <h2> {{ pokemon.title }} </h2>
                        <div class="image_pokemon"><img src="{{ pokemon.image }}" alt="{{ pokemon.title }}"></div>

                    </section>

        </article>
    </main>
{% endblock %}