{% extends "base.html.twig" %}

{% block main %}
    <main>
        <article class="blocArticle">

            {% for pokemon in pokemons %}

                {% if pokemon.isPublished %}
                    <section>
                <h2 class="titre_jaune" >POKÉMON :</h2>
                <p> {{ pokemon.title }}</p>
                <p>{{ pokemon.content }}</p>
                    </section>
                {% endif %}

            {% endfor %}

        </article>
    </main>
{% endblock %}